.song-number:hover {
    content: 'Play';
}

tr .ion-play, 
tr .ion-pause,
tr:hover .song-number,
tr.playing .ion-play, 
tr.playing .song-number,
tr.paused .ion-pause,
tr.paused .song-number {
  display: none;
}

tr button:focus .song-number {
    display: none;
}

tr.playing button:focus .ion-pause {
    display: block;
}

tr.playing button:focus .song-number,
tr.playing button:focus .ion-play {
  display: none;
}

tr:hover .ion-play,
tr.playing .ion-pause,
tr.paused .ion-play {
  display: block;
}

tr button:focus .ion-play {
    display: block;
 }
  
  tr.playing button:focus .song-number,
  tr.playing button:focus .ion-play {
    display: none;
}